.bar {
  height: 60px;
}
.header {
  $height: 25vh;
  height: $height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #3895FF;

  .text {
    font-size: 50px;
    margin: 0 10px;
    color: #FF5050;
  }
}

.option-btn {
  display: flex;
  padding: 10rpx 80rpx;
  justify-content: space-between;

  &_btn {
    $height: 125px;

    margin-right: 20px;
    width: $height;
    height: $height;
    line-height: $height;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #14CC76;
    font-size: 30px;

    &:active {
      opacity: 0.8;
    }
  }

  .sale {
    background-color: #FF5050;
  }
}